<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Asegúrate de que la ruta al CSS es correcta -->
    <link rel="stylesheet" href="/src/styles/principal.css">
    <title>Document</title>
</head>
<body>
    <h1>Hola Mundo</h1>
    <!-- Aquí puedes poner más contenido HTML -->
    <button id="cargarDatos">Cargar Categorías</button>
    <ul id="lista"></ul>
    
    <!-- Asegúrate de que la ruta al JS es correcta -->
    <script src="/src/js/principal.js"></script>
</body>
</html>
